html,
body{
  background-image: url("../images/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.content{
  padding-top: 17%;
  text-align: center;
}
